.logo
  background-color: $primary-color--very-loud
  +at-breakpoint(palm)
    margin: 0 auto
  +at-breakpoint(desk)
    background-color: transparent
    display: block
    position: absolute
    left: 2%
    top: 0
    z-index: 99999

.logo__image 
  height: 180px
  width: 180px
  margin: 0 auto
  display: block
