/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *-------------------------------------------------------------------*/

.logo
  display: block
  position: absolute
  top: 0
  z-index: 99999

+at_breakpoint(palm)
  .logo  
    margin-left: -90px
    left: 50%

+at_breakpoint(desk)
  .logo
    left: 5%

.logo__image 
  height: 180px
  width: 180px

