@import '../../sass_lib/helpers'
//@import '../../sass_lib/typography'

.welcome-message

  background-image: url('../images/header__background.jpg')
  background-repeat: no-repeat
  @extend .welcome-message__text
  text-align: center
  +at-breakpoint(hd)
    background-size: 100%


.welcome-message__inner
  
  background-color: rgba(0, 0, 0, 0.3)
  margin: 0 auto
  padding: 2% 0
  //@extend %center
  +at-breakpoint(palm)  
    width: 90%
  +at-breakpoint(lap)
    width: 70%
  +at-breakpoint(desk)
    width: 50%
  //efect like in PS
    margin: 0
    padding-left: 2%
    left: 0
    width: 50%
    text-align: left
    //+border-right-radius(200px)


.welcome-message__title
  position: relative
  z-index: 3
  strong
    border-bottom: 5px solid rgba(109, 110, 113, 0.7)
  
  //effect like in PS
  //+at-breakpoint(desk)
    border-left: 36px solid rgba(109, 110, 113, 0.5)
    padding-left: 2%
    strong
      border-bottom: 0px

.welcome-message__tag-line
  padding-top: 1.5em
  
  //effect like in PS
  //+at-breakpoint(desk)
    padding: 0.5em 0 0 2%
    border-left: 36px solid rgba(109, 110, 113, 0.5)
