.products
  @extend .products__text
  +row


.products-message
  background: $secondary-color--very-soft url('../images/products__background.png') bottom right no-repeat
  
  +at-breakpoint(palm)
    +column

  +at-breakpoint(lap)
    +column

  +at-breakpoint(desk)
    +column(50%, true)
    background: $secondary-color--very-soft url('../images/products__background.png') top right no-repeat

.products-message__inner

  margin: 2.5em 1.5em

  //+at-breakpoint(palm)
  //  margin: 5%

  //+at-breakpoint(lap)
  //  margin: 5%

  //+at-breakpoint(desk)
  //  margin: 15%

.products__list 
  background-image: url('../images/textures/light_background.png')
  
  +at-breakpoint(palm)
    +column

  +at-breakpoint(lap)
    +column

  +at-breakpoint(desk)
    +column(50%)

.products__item
  padding: 2.5em 0
  +at-breakpoint(palm)
    width: 100%
    margin: 0
  +at-breakpoint(lap)
    width: 80%
    margin: 0 auto
  +at-breakpoint(desk)
    width: 75%
    margin: 0 auto

//.products__list__inner
  //@extend %right

.product
  @extend .product__text
  @extend %flag
  //margin-bottom: 3em 
  //margin: 0 1.5em
  +at-breakpoint(palm)
    //text-align: center

.product__image
  height: 225px
  //+at-breakpoint(desk)
  @extend %flag__mast
  //+at-breakpoint(palm)
    //display: block
    //margin: 0 auto

.product__info
  //+at-breakpoint(desk)
  @extend %flag__banner
  //padding-left: 1em

.product__tasting-notes 
  
  display: inline-block
  //text-decoration: none
  padding: 0.5em 1em
  background: #1e1e1e
  +single-box-shadow(#000, 0, 0, 1px)
  +border-radius(25px)

.product__tasting-notes:hover
  //box-shadow: 0 0 5px #000


