.polaroids figure img
  width: 400px
  margin-bottom: 30px
  border: 10px solid #ffffff
  border-bottom: 30px solid #FFFFFF

//.polaroids figure:last-child img
  margin-bottom: 0

.polaroids figure img, .polaroids figure figcaption  
  -webkit-transform: rotate(-2deg)
  -moz-transform: rotate(-2deg)
  transform: rotate(-2deg)

.polaroids figure:nth-child(even) img, .polaroids figure:nth-child(even) figcaption 
  -webkit-transform: rotate(2deg)
  -moz-transform: rotate(2deg)
  transform: rotate(2deg)

.polaroids figure img
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25)
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25)
  box-shadow: 0 3px 6px rgba(0,0,0,.25)
     
.polaroids figcaption
  position: absolute   
  left: 225px
  margin-top: -55px
