.polaroids 
  figure
    position: relative
    img
      width: 400px
      margin-bottom: 30px
      border: 10px solid #ffffff
      border-bottom: 30px solid #FFFFFF
      -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25)
      -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25)
      box-shadow: 0 3px 6px rgba(0,0,0,.25)
    img, figcaption
      -webkit-transform: rotate(-2deg)
      -moz-transform: rotate(-2deg)
      transform: rotate(-2deg)

//.polaroids figure:last-child img
  margin-bottom: 0

.polaroids 
  figure:nth-child(even)
    img, figcaption 
      -webkit-transform: rotate(2deg)
      -moz-transform: rotate(2deg)
      transform: rotate(2deg)

.polaroids 
  figcaption
    width: 400px
    position: absolute   
    top: 18em
    text-align: center
