$font--family-julius: "Julius Sans One", sans-serif
$font--family-baskerville: "Libre Baskerville", sans-serif

.nav__text
  font-family: $font--family-julius
  font-size: 19.2px
  text-transform: uppercase
  
  .nav__link
    color: #EDEADC


.welcome-message__text
  
  & .welcome-message__title
    font-family: $font--family-julius
    font-size: 51.2px
    text-transform: uppercase
    +text-shadow

  & .welcome-message__tag-line
    font-family: $font--family-baskerville
    font-size: 25.6px
    font-style: italic
    +text-shadow

.products__text, .tourism__text

  & .products__title, .tourism__title
    font-family: $font--family-julius
    font-size: 28.8px
    text-transform: uppercase
    color: #2A2827
    +text-shadow
    margin-bottom: 1em

  & p
    font-family: $font--family-baskerville
    font-size: 16px
    line-height: 2em
    margin: 0.75em 0
    color: #75738B

.product__text
  
  & .product__name
    font-family: $font--family-julius
    font-size: 19.2px
    text-transform: uppercase
    color: #2A2827
    +text-shadow

  & .product__ingredients
    font-family: $font--family-baskerville
    font-size: 16px
    font-style: italic
    line-height: 0.1 //21px before
    text-indent: 1em
    color: #7F7D6F

  & .product__type
    font-family: $font--family-baskerville
    font-size: 14.4px
    line-height: 3.5em
    color: #75738b

  & .product__tasting-notes
    font-family: $font--family-baskerville
    font-size: 16px
    font-variant: bold
    color: #EDEADC

.footer__text
  font-family: $font--family-baskerville
  font-size: 14.4px
  line-height: 1.5em
  color: #6d6e71

  .postal-address__title, .contact-point__title, .social__title
    font-family: $font--family-julius
    font-size: 16px
    text-transform: uppercase
    line-height: 4em
    color: #DCEADC

  .copyright
    font-size: 12px
    color: #DCEADC

  .social a
    color: #6D6E71


.quote__text
  p
    font-family: $font--family-baskerville
    font-size: 28px
    font-style: italic
    line-height: 46px

  .author
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    color: #d48158
    +text-shadow

.tourism__text
  
  .tourism__title
    color: #2A2827
  .tourism-message p
    color: #F6F5EE

  figcaption
    font-family: $font--family-julius
    font-size: 14.4px

strong
  font-weight: 700

em
  font-style: italic
